.App {
  margin: 50px auto;
  max-width: 500px;
}

h1 {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-style: italic;
  text-align: center;
}

input {
  border: none;
  outline-color: lightgray;
  background-color: rgb(152, 188, 255);
}

.todoLists {
  display: flex;
  justify-content: space-between;
}

.todoListName {
  font-weight: bold;
}

.todoItems {
  display: flex;
}
