.vscode

/TodoApi/.vs
/TodoApi/bin
/TodoApi/obj
/TodoApi/TodoData.db
/TodoApi/TodoData-log.db

/TodoApiTests/bin
/TodoApiTests/obj

/todo-app/node_modules
/todo-app/cypress/videos
/todo-app/cypress/screenshots
todo-app/certs/localhost.crt
todo-app/certs/localhost.key
todo-app/certs/san.cnf
